<!-- templates/registration/login.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Login</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'todo/bs/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'todo/styles.css' %}" />
	</head>

<body>
  <div class="container-fluid" id="wrapper">
    
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4" id="content">
        <form method="POST" role="form">
          {% csrf_token %}
          <div class="form-group">
            <div class="input-group">
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
