{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Todo Application</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'todo/bs/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'todo/styles.css' %}" />

	</head>
	<body>
		{% if user.is_authenticated %}
		<div class="container-fluid" id="wrapper">
			
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					{% if user.is_authenticated %}
					Hi {{ user.username }}!
					<p><a href="{% url 'logout' %}">logout</a></p>
				  {% endif %}
					<form action="{% url 'add' %}" method="POST" role="form">
						{% csrf_token %}
						<div class="form-group">
							<div class="input-group">
							  {{ form.text }}
							  <span class="input-group-btn">
								  <button type="submit" class="btn btn-primary" id="add-btn">ADD</button>
							  </span>
							</div>
						</div>
					</form>

					<div class="row t10">
						<div class="col-lg-12">
							<div class="btn-toolbar">
								<div class="btn-group">
									<a href="{% url 'deletecomplete' %}"><button type="button" class="btn btn-danger">
										<i class="glyphicon glyphicon-trash"></i> CLEAR COMPLETED
									</button></a>
								</div>
								<div class="btn-group">
									<a href="{% url 'deleteall' %}"><button type="button" class="btn btn-info">
										<i class="glyphicon glyphicon-trash"></i> CLEAR ALL
									</button></a>
								</div>
							</div>
						</div>
					</div>   

					<ul class="list-group t20">
						{% for todo in todo_list %}
							{% if todo.complete %}
							<li class="list-group-item todo-completed">{{ todo.text }}</li>
							{% else %}
							<li class="list-group-item">{{ todo.text }}<a href="{% url 'complete' todo.id %}"><i class="glyphicon glyphicon-ok" style="margin-left: 10px;"></i></a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		{% endif %}
		{% if user.is_authenticated == 0 %}
		<div class="container-fluid"> 
			<div class="row">

				<div class="col-md-10 col-md-offset-1">
					<div class="alert alert alert-dismissible fade in text-center" style="margin-top: 300px;background: content-box;" role="alert">
						<p style="margin-bottom: 10px; color:white">You are not logged in! You must be logged in to use the system.</p>
						<div class="btn-group">
						<p><a href="{% url 'login' %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Click here to login!</a></p>
						</div>
						<div class="btn-group">
						<p><a href="{% url 'signup' %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Click here to Register!</a></p>
						</div>
					</div>
				</div>
	
		  </div>
		</div>
		{% endif %}
	</body>
</html>

{% endblock %}
